@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@500&family=PT+Serif:wght@400;700&family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: center;
    align-content: center;
}

.logo {
    overflow: hidden;
    height: 105px;
    width: 491px;
    background: black;
    color: white;
    font-size: 88px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.hub {
    height: 68px;
    width: 154px;
    background: #f7971d;
    color: black;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 8px;
    font-size: 77px;
    align-items: right;
}

.date {
    display: flex;
    justify-content: center;
    font-size: 18px;
    margin: 3px 0 0 0;
}

.home {
    height: 31px;
    background-color: black;
}

.home ul {
    float: right;
}

.home ul li {
    display: inline-block;
    margin: 0 5px;
}

#check {
    display: none;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 31px;
    margin-right: 31px;
    cursor: pointer;
    display: none;
}

label.menu {
    padding: 0 5px;
    float: left;
    color: white;
    font-size: 30px;
    line-height: 31px;
    /* padding: 0 100px; */
    /* font-weight: bold; */
}

a {
    color: white;
    padding: 6px 22px;
    text-decoration: none;
    justify-content: center;
    font-size: 22px;
}
a.active,a:hover{
    background: #f7971d;
    transition: .5s;
  }


a:hover {
    background: #f7971d;
    font-weight: bold;
}

body {
    background-color: #efefef;
}

.container {
    margin: 0 17vw;
    background-color: white;
    border-radius: 20px;
}

.h1 {
    font-family: 'PT Serif', serif;
    font-size: 3.4vw;
    padding: 0 10.5px;
}

.h2 {
    font-size: 2vw;
    font-family: 'PT Serif', serif;
    padding: 0 5px;
}

.by {
    margin: 20px 0 5px 0;
    font-size: 2vw;
    padding: 0 6px;
}

.img {
    display: flex;
    justify-content: center;
}

img {
    margin: 20px 0 2px 0;
    height: 437px;
    overflow: hidden;
}

.p {
    font-family: 'PT Serif', serif;
    padding: 4px 7px;
    font-size: 2vw;
}

footer {
    background: black;
    color: white;
    display: flex;
    text-align: left;
    align-items: flex-start;
    font-size: 16px;
}

.cr,
.ankit {
    display: inline-block;
    width: 50%;

}

.ankit {
    text-align: right;

}

@media (max-width: 630px) {
    .container {
        margin: 0;
    }
    .home ul li {
        display: inline-block;
        margin: 12px 20vw;
    }
    .img img {
        margin: 20px 0 2px 0;
        height: 250px;
        width: 100%;
        overflow: hidden;
    }

    .fa-bars:before {
        content: "\f0c9";
        color: white;
    }

    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        
    }
    .home ul {
        float: right;
        top: 0;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    a:hover,a.active{
        background: none;
        color: #f7971d;
      }

    #check:checked~ul {
        left: 0;
    }
    section{
        background: url(bg1.jpg) no-repeat;
        background-size: cover;
        height: calc(100vh - 80px);
      }

    .cr,
    .ankit {
        display: inline-block;
        width: 50%;
        font-size: x-small;
    }
}

@media screen and(max-width:350px) {
    .img img {
        margin: 20px 0 2px 0;
        height: 210px;
        width: 100%;
        overflow: hidden;

    }

    .cr,
    .ankit {
        font-size: xx-small;
    }
}